NEXT_PUBLIC_API_URL=http://localhost:7221
SENTRY_AUTH_TOKEN=your-sentry-auth-token-here
NEXT_PUBLIC_TYPE=AYURVEDIC
NEXT_PUBLIC_LOGO_URL=/assets/images/logo.svg
NEXT_PUBLIC_LOGIN_IMAGE_URL=/assets/images/login/login-banner.jpg
NEXT_PUBLIC_ORG_NAME=AYURVEDA                            